*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
}

.lo{
    color: white;
    margin-left: 250px;
}

.ko{
    margin-left: 150px;
    color: white;
    margin-top: 20px;
}

.divider{
    width: 30%;
}

.cal{
    display: flex;
    flex-flow: row;
}
img{
    width: 190px;
    height: 190px;
    margin-top: 100px;
    margin-left: 110px;
}
input{
    position: absolute;
    margin-top: 330px;
    margin-left: -270px;
    width: 300px;
    height: 45px;
}
button{
    margin-top: 110px;
    margin-left: 360px;
    width: 150px;
    height: 50px;
}
.result{
    width: 50%;
    margin: 100px auto;
}

.result h2{
    padding: 9px;
}

#loveinfo{
    line-height: 1.5;
}
#reload{
    margin-left: -30px;
}
